<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Brand</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navegation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          {{ "PUBLIC_NAVBAR.home" | translate }}
          <span class="sr-only">(curent)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{
          "PUBLIC_NAVBAR.services" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{
          "PUBLIC_NAVBAR.portfolio" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{
          "PUBLIC_NAVBAR.skills" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{
          "PUBLIC_NAVBAR.about_me" | translate
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{
          "PUBLIC_NAVBAR.contact" | translate
        }}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">{{ "PUBLIC_NAVBAR.login" | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
